---
import Layout from "../layouts/Layout.astro";
import Header from "../components/sections/Header.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import ForWhomSection from "../components/sections/ForWhomSection.astro";
import AboutSection from "../components/sections/AboutSection.astro";
import ApproachSection from "../components/sections/ApproachSection.astro";
import HowItWorksSection from "../components/sections/HowItWorksSection.astro";
import CtaSection from "../components/sections/CtaSection.astro";
import Footer from "../components/sections/Footer.astro";
---

<Layout>
  <Header />
  <main id="content">
    <HeroSection />
    <ForWhomSection />
    <AboutSection />
    <ApproachSection />
    <HowItWorksSection />
    <CtaSection />
  </main>
  <Footer />
</Layout>
